$black_0: rgba(0,0,0,.3);
$black_1: rgb(0,0,0);
$black_2: rgba(0,0,0,.5);
$white_1: rgb(255,255,255);
$white_2: rgba(255, 255, 255, 0.5);
$silver_0: rgb(229,229,229);
$silver_1: rgb(199, 199, 199);
$red: rgb(242,62,44);

// For background screen`s
$screen-white-bckcolor: rgb(255, 255, 255);
$screen-white-color: rgb(51,51,51);

$screen-light-bckcolor: rgb(246,246,246);
$screen-light-color: rgb(51,51,51);

$screen-dark-bckcolor: rgb(51,51,51);
$screen-dark-color: rgb(246,246,246);