@media screen and (max-width:1366px) {
    header { background-image: url('../img/1366x768/background/header/background-header.jpg'); }
}

@media screen and (min-width:1367px) and (max-width:1600px) {
    header { background-image: url('../img/1600x900/background/header/background-header.jpg'); }
}

@media screen and (min-width:1601px) and (max-width:1920px) {
    header { background-image: url('../img/1920x1200/background/header/background-header.jpg'); }
}

@media screen and (min-width:1921px) and (max-width:2560px) {
    header { background-image: url('../img/2560x1600/background/header/background-header.jpg'); }
}

@media screen and (min-width:2561px) {
    header { background-image: url('../img/3840x2160/background/header/background-header.jpg'); }
}